@charset "utf-8";

*
{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

html, body
{
	width: 100%;
	height: 100%;
}

.fill
{
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
}

.tween
{
	backface-visibility: none;
}

#display
{
	width: 100%;
	height: 100%;

	overflow: hidden;

	background: radial-gradient(ellipse at center,  rgb(4, 4, 14) 0%, rgb(50, 50, 60) 100%);
	/* background: #333; */
}

.unitWrapper
{
	display: block;
	width: inherit;
	height: inherit;
	border-radius: 50%;

	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;

	transform-origin: 50% 50%;
}

.timeBlur-min
{
/* 	-webkit-filter: blur(20px);
	filter: blur(20px); */
}

.timeBlur-med
{
/* 	-webkit-filter: blur(40px);
	filter: blur(40px); */
}

.timeBlur-max
{
/* 	-webkit-filter: blur(60px);
	filter: blur(60px); */
}

.timeBarS
{
	display: block;
	width: 240px;
	height: 240px;

	position: absolute;

	left: 0; right: 0; top: 0; bottom: 0;
	margin: auto;
}

.timeBarS .unitWrapper
{
	transition: 400ms ease-out;
	background: white;
}

.timeBarM
{
	display: block;
	width: 120px;
	height: 120px;

	position: absolute;

	left: 0; right: 0; top: 0; bottom: 0;
	margin: auto;
}

.timeBarM .unitWrapper
{
	transition: 600ms ease-out;
	background: cyan;
}

.timeBarH
{
	display: block;
	width: 60px;
	height: 60px;

	position: absolute;

	left: 0; right: 0; top: 0; bottom: 0;
	margin: auto;
}

.timeBarH .unitWrapper
{
	transition: 800ms ease-out;
	background: yellow;
}





